name: Build and Test

on:
  push:
    branches: [ "main", "master", "Test" ]
  pull_request:
    branches: [ "main", "master", "Test" ]

jobs:
  backend-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./SchoolAs.Web
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
